<div>

    <un-connection-peer-id></un-connection-peer-id>
    <div class="row">
        <div class="col-md-6">
            <h2>Client List</h2>
            <un-connection-dialer></un-connection-dialer>
            <un-contact-client-list></un-contact-client-list>
        </div>
        <div class="col-md-6">
            <h2>Selected Client</h2>
            <un-contact-client-selected></un-contact-client-selected>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Group Group</h2>
            <un-contact-group-add></un-contact-group-add>
            <un-contact-group-list></un-contact-group-list>
        </div>
        <div class="col-md-6">
            <h2>Selected Group</h2>
            <un-contact-group-selected></un-contact-group-selected>
        </div>
    </div>
</div>