body {
  background-color: #eee;
}

nav div{
    color:white;
}
nav img {
    width:50px;
}
.navbar-toggle {
float:left;
}
.sidebar-offcanvas {
    position:relative
}
.contact-online{
    color:forestgreen;
}
input:focus { font-size: 16px!important}