<div ng-init="init()">
    <div ng-repeat="(clientId,clientItem) in clientMap">
        <div class="row">
            <div class="col-md-9">
                <a ui-sref-active="active" ui-sref='contact.client({clientId: clientId})'
                   class="list-group-item">{{clientItem.label}}
                </a>
            </div>
            <div class="col-md-3">
                <i class=" fa fa-trash fa-2x" data-ng-click="removeClient(clientId)"></i>
            </div>
        </div>
    </div>
</div>