<div class="un-contact-client-list">
    <a ui-sref='contact.client({clientId: clientItem.id})'
       ng-repeat="clientItem in clientList | filter:clientFilter ">
        <span class="profile-image-box">
            <img class="profile-image" data-ng-src="{{clientItem.image}}" alt="Profile Picture">
        </span>
        <div class="profile-info-box">
            <div class="text-lg">{{clientItem.id}}</div>
            <span class="text-muted">{{clientItem.description}}</span>
        </div>
    </a>
</div>