<div data-ng-show="group.id">
    <p>{{group.label}}</p>
    <span class="btn btn-success call" data-ng-click="removeGroup(group)">
        <i class=" fa fa-trash fa-3x"></i>
    </span>
    <span  ng-if="group.editable === true">
      <span ng-dropdown-multiselect=""
            extra-settings="{showCheckAll:false,showUncheckAll : false}"
            events="{onItemSelect : addUserToGroup,onItemDeselect : removeUserFromGroup}"
            options="clientMap | filter:ownPeerId"
            translation-texts="{buttonDefaultText: group.label,dynamicButtonTextSuffix: 'users'}"
            selected-model="group.users"></span>
    </span>

</div>