<div class="un-contact-dialer" >
    <form ng-submit="createGroup()" class="form-group">
        <label for="input-add" class="sr-only" translate>Add group</label>
        <div class="input-group">
            <input type="text" data-ng-model="newGroupName" autocomplete="off"
                   placeholder="{{'Enter groupname name'|translate}}" required="true" id="input-add"
                   class="" required="true">
            <span class="input-group-btn">
              <button class="un-connect-button-login" type="button"
                      data-ng-click="createGroup()">
                  <i class="icon-add"></i>
              </button>
            </span>
        </div>
    </form>
</div>