<div class="un-contact-group-add" >
    <form data-ng-submit="createGroup()" >
        <label for="input-add" translate>Add group</label>
        <div class="dialer-group">
            <input type="text" data-ng-model="newGroupName" autocomplete="off"
                   placeholder="{{'Enter groupname name'|translate}}" required="true" id="input-add"
                    required="true">
            <span class="button-group">
              <button type="button" data-ng-disabled="!newGroupName"
                      data-ng-click="createGroup()">
                  <i ></i>
              </button>
            </span>
        </div>
    </form>
</div>