<div role="menu" class="un-contact-group-admin" data-ng-show="group.id" >
    <div class="menu-header ">
        <span class="" translate>admin group</span>
    </div>
    <div class="divider mar-no"></div>
    <div class="menu-content">
        <form name="adminFormGroup">
            <div class="image-group">
                <div>
                    <input class="fileUpload" accept="image/*" type="file" file-model="newImage"/>
                    <img class="img-circle img-user" ng-src="{{group.image}}"/>
                </div>
                <div class="cropArea" data-ng-if="newImage">
                    <img-crop result-image-size="80" result-image-format="image/jpeg" image="newImage"
                              result-image="group.image"></img-crop>
                </div>
            </div>
            <div class="name-group">
                <label for="display-name" translate>group name</label>
                <input type="text" placeholder="{{'Enter display name' | translate}}" id="display-name"
                       data-ng-model="group.label" required="true">

            </div>
            <div class="description-group">
                <label for="user-description" translate>short description</label>
                <input type="text" data-ng-model="group.description"
                       placeholder="{{'a short description' | translate}}"
                       id="user-description">
            </div>
            <div class="user-group" data-ng-if="group.users">
                <label for="user-description" translate>users in group</label>
                <p>
                   <span ng-dropdown-multiselect=""
                         extra-settings="{showCheckAll:false,showUncheckAll : false}"
                         events="{onItemSelect : setFormDirty, onItemDeselect: setFormDirty}"
                         options="clientMap | filter:ownPeerId"
                         translation-texts="{buttonDefaultText: group.label,dynamicButtonTextSuffix: 'users'}"
                         selected-model="group.users">
                   </span>
                </p>
            </div>

        </form>
    </div>
    <div class="divider mar-no"></div>
    <div class="menu-footer">
        <div class="removeUser" data-ng-click="removeGroup(group.id)">
            <span translate>remove</span>
        </div>

        <div class="save" data-ng-disabled="!group.editable"
             data-ng-class="{'disabled' : !group.editable, 'allowed' :group.editable ,'data-change' : adminFormGroup.$dirty && group.editable}"
             data-ng-click="update();adminFormGroup.$setPristine();newImage='';">
            <span translate>Update</span>

            <div data-ng-hide="group.editable" class="access-info" translate>
                only group admin can update a group
            </div>
        </div>

    </div>
</div>

