<div class="list-group un-contact-group-list">
    <a class="list-group-item" ui-sref='contact.channel({channel: group.id})'
       ng-repeat="group in groupList">
        <span class="profile-image-box">
            <img class="profile-image" data-ng-src="{{group.image}}" alt="Profile Picture">
          </span>
        <div class="profile-info-box">
            <div class="text-lg">{{group.label}}</div>
            <span class="text-muted">{{group.description}}</span>
        </div>
    </a>
</div>