<div data-ng-show="group">
    <div class="row">
        <div class="col-xs-7">
            <img class="profile-image" data-ng-src="{{group.image}}"/>
            <small>{{group.label}}</small>
        </div>
        <div class="col-xs-5">
            <span ng-if="group.editable === true">
                  <span ng-dropdown-multiselect=""
                        extra-settings="{showCheckAll:false,showUncheckAll : false}"
                        events="{onItemSelect : addUserToGroup,onItemDeselect : removeUserFromGroup}"
                        options="clientMap | filter:ownPeerId"
                        translation-texts="{buttonDefaultText: group.label,dynamicButtonTextSuffix: 'users'}"
                        selected-model="group.users">

                  </span>
                </span>
        </div>
    </div>
</div>